<!-- 
 File Name: footer.ejs
 Author: Mohammed Juned Ahmed
 Website Name: https://comp308assignment1.herokuapp.com/
 File Description: Partials containing footer details.
-->

<div id="footer">
	<a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a> | <a href="http://fotogrph.com/">Images</a> | website template by <a href="http://www.araynordesign.co.uk">ARaynorDesign</a>
</div><!--close footer-->
<!-- JS Scripts -->
<script src="/Scipts/lib/jquery/dist/jquery.min.js"></script>
<script src="/Scipts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scipts/jquery.min.js"></script>
<script src="Scipts/image_slide.js"></script>

</body>
</html>
