
<ul class="slideshow">
	<li class="show"><img width="680" height="250" src="Assets/images/home_1.jpg" alt="&quot;Enter your caption here&quot;"/></li>
  <li><img width="680" height="250" src="Assets/images/home_2.jpg" alt="&quot;Enter your caption here&quot;" /></li>
</ul> 