<!-- 
 File Name: services.ejs
 Author: Mohammed Juned Ahmed
 Website Name: https://comp308assignment1.herokuapp.com/
 File Description: HTML page displaying all the services information.
-->

<header><% include ./partials/header %></header>
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

<div id="site_content">	
  <% include ./partials/sidebar %>
  <% include ./partials/slideshow %>
	<div id="content">
    <div class="content_item">
      <h2>Our Services</h2>
      <div class="content_container">       
        <h3>Web Designer & Developer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis sapien vel orci posuere tristique quis vitae nisi. Sed porta venenatis auctor. Fusce iaculis ligula odio.</p>
      </div><!--close content_container-->
      <div class="content_container">			  
        <h3>Database Adminstration</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis sapien vel orci posuere tristique quis vitae nisi. Sed porta venenatis auctor. Fusce iaculis ligula odio.</p>
      </div><!--close content_container-->
      <div class="content_container">       
        <h3>Java Development</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis sapien vel orci posuere tristique quis vitae nisi. Sed porta venenatis auctor. Fusce iaculis ligula odio.</p>
      </div><!--close content_container-->
      <div class="content_container">			  
        <h3>Android Development</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis sapien vel orci posuere tristique quis vitae nisi. Sed porta venenatis auctor. Fusce iaculis ligula odio.</p>
      </div><!--close content_container-->
	  </div><!--close content_item-->
  </div><!--close content-->   
</div><!--close site_content--> 

<% include ./partials/contentGrey %>

<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
      
<!-- FOOTER -->
<% include ./partials/footer %>